* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container-pesquisa {
    display: flex;
    padding: 30px;
}

.container-pesquisa input {
    flex-grow: 1;
    padding: 12px;
    font-size: 32px;
}

.container-pesquisa button {
    padding: 12px;
    font-size: 32px;
}

.container-galeria{
    display: column;
    column-count: 6;
}

.foto{
    width: 100%;
    margin-bottom: 16px;
}